/* STYLE TEMPLATE */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btemplate{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.htemplate{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}

nav{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

li{
    list-style: none;
}

a{
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: whitesmoke;
    text-decoration: none;
}

.pfooter{
    width: 100vw;
    height: 8vh;
    background-color: black;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    color: whitesmoke;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

/* ACCUEIL */


.baccueil{
    background-image: url(./Images/bg-header\ 1.png);
    background-size: 100vw;
    background-repeat: no-repeat;
}

h1{
    font-family: "Roboto", sans-serif;
    font-size: 6rem;
    color: whitesmoke;
    letter-spacing: 1rem;
    text-shadow: 8px 9px 11px black;
    margin-top: 38vh;
    margin-left: 10vw;
}

.paccueil{
    font-family: serif;
    font-size: 1.5rem;
    color: whitesmoke;
    letter-spacing: 0.3rem;
    text-shadow: 3px 4px 3px black;
    margin-left: 11vw;
} 

