* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TEMPLATE */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./Assets/Images/bg-equipes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

header {
    width: 100vw;
}

nav {
    width: 100%;
    height: 8vh;
    background-color: black;
    opacity: 70%;
    align-content: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: row;
}

a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}

h1 {
    width: 100%;
    height: 12vh;
    background-color: black;
    opacity: 70%;
    align-content: center;
    color: #FF8F0C;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1rem;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

footer {
    background-color: black;
    width: 100vw;
    height: 8vh;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ACCUEIL */

.accueil {
    margin-bottom: 15vh;
    width: 100vw;
}

h2 {
    margin-left: 8%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 6rem;
    text-shadow: 5px 4px 8px #FF8F0C;
    letter-spacing: 1rem;
}

.p-accueil {
    margin-left: 10%;
    font-family: "IBM Plex Serif", serif;
    color: white;
    font-size: 1.2rem;
    text-shadow: 5px 4px 5px rgb(0 0 0);
    letter-spacing: 0.2rem;
    text-decoration: overline;
}

/* LOGIN */

.div-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 30vh;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
}

.p-login{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.p-compte{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

input{
    width: 70%;
    height: 30%;
    padding-left: 2%;
    border-radius: 10px;
}

.btn-login{
    background-color: #FF8F0C;
    color: #000000;
    border: none;
    width: 50%;
}

.error{
    color: red;
}

/* INSCRIPTION */

.div-inscription{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 40vh;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
}

.p-inscription{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.inscription-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
}

.btn-inscription{
    background-color: #FF8F0C;
    color: #000000;
    border: none;
    width: 50%;
}

.success{
    background-color: rgba(255, 143, 12, 0.7);
    border: solid 2px #FF8F0C;
    height: 10%;
    width: 30%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #000000;
}

/* HISTOIRE ET REGLES */

.histoire-et-regles{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 15px;
    justify-content: space-evenly;
}

.div-histoire, .div-regles{
    background-color: #313131;
    opacity: 80%;
    border-radius: 15px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "IBM Plex Serif", serif;
    color: #FF8F0C;
    letter-spacing: 0.2rem;
}

.p-histoire, .p-regles{
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* EQUIPES */

.section-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.div-card{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border: solid 1px white;
    border-radius: 20px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

h4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    background-color: rgba(255, 143, 12, 0.7);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    background-color: rgba(255, 143, 12, 0.7);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.a-equipes{
    font-family: "IBM Plex Serif", serif;
    font-size: 0.8rem;
}

.div-img{
    display: flex;
    justify-content: center;
}

.img-flag{
    width: 60px;
    height: 60px;
}

/* MATCHS */

table{
    width: 80vw;
    border: solid 2px #FF8F0C;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.7);
}

th{
    border: solid 2px #FF8F0C;
    font-family: 'Roboto', sans-serif;
    color: #FF8F0C;
    text-align: center;
    padding: 1%;
}

td{
    border: solid 1px #ff8e0c81;
    font-family: 'IBM Plex Serif', serif;
    color: rgb(207, 207, 207);
    text-align: center;
    
}