*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;  
}

.global{
    background-color: rgb(215, 242, 255);
    width: 49vw;
    height: 87vh;
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(25, 193, 199);
    justify-content: center;
    margin: 2%;
    height: 15%;
    font-size: 2rem;
}

.main{
    display: flex;
    flex-wrap: nowrap;
}

.gauche{
    display: flex;
    background-color: rgb(89, 189, 89);
    margin: 2%;
    flex-grow: 1;
    height: 50vh;
    justify-content: center;
}

aside{
    display: flex;
    align-items: center;
    font-size: 2rem;
    
}

.droite{
    display: flex;
    background-color: rgb(250, 196, 95);
    margin: 2%;
    flex-grow: 2;
    height: 50vh;
    justify-content: center;
    flex-wrap: wrap;
}

article{
    font-size: 2rem;
    align-items: center;
    height: 30vh;
}

.image{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;
    height: 15vh;
}

.img{
    background-color: yellow;
    width: 8vw;
    height: 12vh;
    text-align: center;
    vertical-align: middle;
}